<template>
  <div>
      <h1>Hello and Welcome to Trivia</h1>
        <b-button pill variant="outline-secondary" @click="$router.push('questions')" size="lg" >Let's Start!!</b-button>
      
  </div>
</template>

<script>
export default {

}
</script>

<style>

body {
    background-color: #1b2132 !important;
    color: white !important
}

h1 {
    text-align: center;
    color: white;
    padding-top: 20%;

}

</style>