<template>
<div>
    <ul>
        <li>
            <div class="box">
                <h2 v-html="this.questions[this.count].question"></h2>
                <b-button pill variant="outline-secondary"  class="button" size="lg" v-on:click="registerTrue" id="trusy">True</b-button>
                <b-button pill variant="outline-secondary" class="button" size="lg" v-on:click="registerFalse" id="falsy">False</b-button>
            </div>
        </li>
    </ul>
</div>
</template>

<script>
import {apiQuestions} from '../api/getQuestions'

export default {
    name: " questions",
    async created() {
        try {
           this.questions = await apiQuestions();

        } catch (error) {
            console.log(error)
        }
    },
   
    methods: {
        registerTrue() {
                if(this.count == 9){
                    this.publishAnswers()
                }
                this.answers[this.count] = document.getElementById('trusy').innerText
                this.count += 1;
                console.log(this.answers)

        },
        registerFalse() {
                if(this.count == 9){
                    this.publishAnswers()
                
                }
                this.answers[this.count] = document.getElementById('falsy').innerText
                this.count += 1;
                console.log(this.answers)
        },
        publishAnswers() {
            this.$parent.appendAnswers(this.answers)
            this.$router.push('results')
        }
    },
    data()  {
        return {
            count: 0,
            questions: [],
            answers: []
        }
    }
    

}

</script>

<style>

h2 {
     color: white !important;
     padding-top: 30%;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    color: white
}

.box {
    padding: 0px 300px
    
}

</style>