<template>
<div>
    <ul class="list">
        <li v-for="(value, index) in this.$parent.questions" :key="value.question">
            <div class="question">
                <h3 v-html="value.question"></h3>
                <p>
                    Correct Answer: {{value.correct_answer}} <span class="spacer">|</span> Your answer: {{answers[index]}}
                </p>
                <p v-if="value.correct_answer == answers[index]"><b>Score +10</b></p>
            </div>
        </li>

        <h3 class="totalScore"><b>Total Score {{ totalScore }}</b></h3>
    </ul>
</div>
</template>

<script>
import {apiQuestions} from '../api/getQuestions'
export default {
    name: " questions",
    async created() {
        try {
           this.questions = await apiQuestions();
           this.checkScore();
        } catch (error) {
            console.log(error)
        }
    },
    methods: {
        checkScore() {
            this.questions.forEach((question, index) => {
                let correct = question.correct_answer;
                let answer = this.answers[index];

                if (correct == answer) {
                    this.incrementScore();
                }
            });
        },
        incrementScore() {
            this.totalScore += 10;
            return this.score;
        }
    },
    data()  {
        return {
            totalScore: 0,
            questions: [],
            answers: this.$parent.answers
        }
    }

}

</script>

<style>
.list {
    list-style-type: none;
    padding: 0px 200px;
}

.question {
    padding: 25px 0px;
}

.spacer {
    margin: 0px 20px;
}

h3, p {
    color: white;
}

.totalScore {
    padding-bottom: 50px;
}
</style>