<template>
  <div id="app">
    <router-view></router-view>

  </div>
</template>

<script>
import {apiQuestions} from './api/getQuestions'

export default {
  name: 'App',
  async created() {
        try {
           this.questions = await apiQuestions();
           
        } catch (error) {
            console.log(error)
        }
    },
    methods: {
        appendAnswers(answer) {
          this.answers = answer;
        }
    },
    data()  {
        return {
            questions: [],
            answers: []
        }
    }
  
  
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
